
body {
    font-size: 12pt;
}

.toolbar {
  background-color : #DDDDDD;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;  
  height: 126px;
  width: 768px; 
  padding: 15px;
  margin-top: 5px;
  border: 1px solid gray;
}

.toolbarinner {
  -moz-border-radius: 8px;
  height: 58px;
  border-color: gray;
}

.main { 
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.rounded, .popupcontents, .popupheader {
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomleft: 7px;
}

.border, .toolbarinner, input, textarea, .popupcontents{
  border: 1px solid gray;
}

textarea {
    width: 100%;
    height: 80px;
}

input:hover, textarea:hover {
    background-color: #DDDDDD;
}

.maintitle, h1, h2, h3, h4, h5, h6, h7, h8, h9, a {
    font-family: "Georgia";
    color: #EF5E2C;
}

.maintitle {
    font-size: 50pt;
    font-style: italic;
    font-family: "Georgia";
    color: #EF5E2C;
}

h2 {
    font-weight: bold;
}

hr {
    border: 2px solid #DDDDDD;
}

.toolbarright {
    width: auto; 
    text-align: right;
    padding-top: 9px;
}

.docdetails {
    display: block; 
    position: relative; 
    left: 3px; 
    top: 18px; 
    background-color: #999999; 
    z-index: 100;
    padding: 4px;
    text-align: left;
}    

fieldset { 
  border : 1px solid #555555;
  padding : 1em;
}

legend { 
  padding: 0.2em 0.5em;
  border: 0px solid green;
  color:black;
  font-size:90%;
  text-align:right;
}




.viewHeader, .viewText {
    -moz-border-radius-topleft: 8px;
    border-left: 1px dotted;
    border-top : 1px dotted;
    border-color: silver; 
    padding-left: 2px;
    padding-top: 2px;
}

.nodeView {
    margin-bottom: 4px;
}

.collapsePanelHeader {
    color:#EF5E2C;
    font-weight:bold;
}

#statusBar {
    margin: 0px;
    background-color: silver;
    -moz-border-radius-bottomleft:7px;
    -moz-border-radius-bottomright:7px;    
    border:1px solid gray;
    width: 798px;
}

#footer {
    font-size: 9pt;
    text-align: center;
}

