// - http://ryanfait.com/resources/footer-stick-to-bottom-of-page/
//  - http://ryanfait.com/sticky-

* {
   margin: 0;
}

html, body {
   height: 100%;
}

.hidden {
    visibility: hidden;
    display : none;
}

.visible {
    visibility: visible;
    display: inline;
}

.hcenter {
    margin-left: auto;
    margin-right: auto;
}

.hdivider {
    text-align: center;
    width:100%; 
    height: 8px; 
    background:#AAAAAA url(../images/handleh.png) no-repeat scroll 50% 50%;
    cursor:row-resize;
}

.vdivider {
    display:inline; 
    height:100px; 
    width: 100%; 
    text-align: center; 
    vertical-align: center;
    background:#AAAAAA url(../images/handlev.png) no-repeat scroll 50% 50%;
    cursor:col-resize;
}


.popupbg {
  height	: 100%;
  width		: 100%;
  image		: url(../images/popup_bg.png);
  z-index : 100;
}

.popupcontents {
  display : block;
  background-color : #cccccc;
  border: 1px solid black;
  padding : 2px;
  width		: 640px;
  margin-top	 : 50px;
  margin-left: auto;
  margin-right: auto;
}

.popupheader {
  background-color : #BBBBBB;	
  border-style : 1px solid white;
  font-color : white; 
  font-weight : bold; 
  display: block;
}

.right {
  text-align : right;
}

.dojoDndHandle {
/* background:#AAAAAA url(../images/handleh.png) repeat-y; */
}

.collapsePanelOuter {
/*    border-bottom: 1px dashed #666666;
    width: 100%; */
}

.collapsePanelHeader {
    background-color: #EFEFEF; 
/*    width: 100%;  */
    -moz-border-radius-topleft: 8px;
    padding-right: 20px;
}

.collapsePanelContent {
    padding-left: 4px; 
}

/*round button */

.rndButton {
    background-color:#CCCCCC;
    float:left;
    padding:5px;
    text-align:center;    
    width : 50px;
    -moz-border-radius: 7px;
    font-size: 10pt;
    cursor: pointer;
}

.rndButton:hover {
    border-color: #EF5E2C;
    background-color: #DDDDDD; 
}
.lastbtn {
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;    
    border-left: 0px;    
}
.firstbtn {
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;    
}
.middlebtn {
    -moz-border-radius: 0px;
    border-left: 0px;
}

.smallbtn {
    width: 20px;
    height:20px;
    padding: 2px;
}    

.smallbtn > img {
    height: 16px;
}
