
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=iso-8859-1"></meta>
<title>HTML Code for CSS DropDown Menu Tutorial</title>
<meta name="description" content="Start page For CSS DropDown Menu Tutorial - Example HTML"></meta>
<link rel="shortcut icon" href="http://www.tanfa.co.uk/favicon.ico" />
        <link href="layout.css" rel="stylesheet" type="text/css"/>
    <link href="style.css" rel="stylesheet" type="text/css"/>
    <link href="theme.css" rel="stylesheet" type="text/css"/>
    <link href="date.css" rel="stylesheet" type="text/css"/>
<link href="horizontalmenu.css" rel="stylesheet" type="text/css" />

</head>
<body id="www-tanfa-co-uk">
<div id="pagetop">
<a href="http://www.tanfa.co.uk/" title="tanfa :: Home Page" id="toplink"></a>
<h1>CSS Drop Down Menu Tutorial Code</h1>
<h2>Start Page - Default Code - No CSS Applied</h2>

<h3>&laquo; return to :: <a href="http://www.tanfa.co.uk/css/examples/menu/tutorial-v.asp#menreq">vertical tutorial</a> :: <a href="http://www.tanfa.co.uk/css/examples/menu/tutorial-h.asp#menref">horizontal tutorial</a> &raquo;</h3>
</div>

<div class="menubar">
<div class="menu">
<ul>
  <li><h2>CSS Drop Down Menus</h2>
    <ul>
      <li><a href="http://www.seoconsultants.com/tips/css/#cssmenus" title="SEO Consultants Directory">CSS Hover Navigation</a>
        <ul>
          <li><a href="http://www.tanfa.co.uk/css/examples/css-dropdown-menus.asp" title="tanfa Introduction">Intro for CSS Enthusiasts</a></li>
          <li><a href="http://www.tanfa.co.uk/css/examples/menu/" title="Plain HTML Code">Demonstration HTML</a></li>
          <li><a href="http://www.xs4all.nl/~peterned/csshover.html" title="whatever:hover file">csshover.htc file</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<ul>
  <li><h2>Vertical CSS Pop-Out Menu</h2>
    <ul>
      <li><a href="http://www.seoconsultants.com/css/menus/vertical/" title="SEO Consultants Vertical Example">SEO Consultants Sample</a></li>
      <li><a href="http://www.tanfa.co.uk/css/examples/menu/vs7.asp" title="Complete Example">tanfa Demo example</a>
        <ul>
          <li><a href="#">tanfa Tutorial</a><!-- link to seo vertical tut -->		
            <ul>
              <li><a href="http://www.tanfa.co.uk/css/examples/menu/vs1.asp" title="Vertical Menu - Page 1">Stage 1</a></li>
              <li><a href="http://www.tanfa.co.uk/css/examples/menu/vs2.asp" title="Vertical Menu - Page 2">Stage 2</a></li>			
              <li><a href="http://www.tanfa.co.uk/css/examples/menu/vs3.asp" title="Vertical Menu - Page 3">Stage 3</a></li>
              <li><a href="http://www.tanfa.co.uk/css/examples/menu/vs4.asp" title="Vertical Menu - Page 4">Stage 4</a></li>
              <li><a href="http://www.tanfa.co.uk/css/examples/menu/vs5.asp" title="Vertical Menu - Page 5">Stage 5</a></li>			
              <li><a href="http://www.tanfa.co.uk/css/examples/menu/vs6.asp" title="Vertical Menu - Page 6">Stage 6</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<ul>
  <li><h2>Horizontal Drop & Pop Menu</h2>
    <ul>
      <li><a href="http://www.seoconsultants.com/css/menus/horizontal/" title="SEO Consultants Directory Example">SEO Consultants Sample</a></li>
      <li><a href="http://www.tanfa.co.uk/css/examples/menu/hs7.asp">tanfa Demo example</a><!-- fully working sample -->
        <ul>
          <li><a href="#">tanfa Tutorial</a><!-- link to horizontal tut -->		
            <ul>
              <li><a href="http://www.tanfa.co.uk/css/examples/menu/hs1.asp" title="Horizontal Menu - Page 1">Stage 1</a></li>
              <li><a href="http://www.tanfa.co.uk/css/examples/menu/hs2.asp" title="Horizontal Menu - Page 2">Stage 2</a></li>			
              <li><a href="http://www.tanfa.co.uk/css/examples/menu/hs3.asp" title="Horizontal Menu - Page 3">Stage 3</a></li>
              <li><a href="http://www.tanfa.co.uk/css/examples/menu/hs4.asp" title="Horizontal Menu - Page 4">Stage 4</a></li>
              <li><a href="http://www.tanfa.co.uk/css/examples/menu/hs5.asp" title="Horizontal Menu - Page 5">Stage 5</a></li>			
              <li><a href="http://www.tanfa.co.uk/css/examples/menu/hs6.asp" title="Horizontal Menu - Page 6">Stage 6</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>							
</div>
</div>
    <div class="menubar">
         <div class="menu">
    
    <table><tr>
    <td valign="bottom">
     <img src="../img/serg-logo-color-smaller.png"/>
    </td>
    <td valign="bottom">

      <ul>
        
      <li><h2>New</h2> 
      <ul>
        
      <li><a id="_id6" href="/serg/createUser.seam">New User</a>
    
      </li>
    
      <li><a id="_id8" href="/serg/createPerson.seam">New Person</a>

    
      </li>
    
      <li><a id="_id10" href="/serg/createPublication.seam">New Publication</a>
    
      </li>
    
      </ul>
    
      </li>
    
      </ul>
    </td>
    <td>
      <ul>
      <li><h2>Foo</h2> 
      <ul>
        
      <li><a id="_id14" href="/serg/createUser.seam">New User</a>

    
      </li>
    
      <li><a id="_id16" href="/serg/createPerson.seam">New Person</a>
    
      </li>
    
      <li><a id="_id18" href="/serg/createPublication.seam">New Publication</a>
    
      </li>
    
      </ul>
    
      </li>
    
      </ul>
    </td>
    </tr>
    </table>

    </div>
    </div>
</body>
</html>