<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:a4j="https://ajax4jsf.dev.java.net/ajax" xmlns:rich="http://richfaces.ajax4jsf.org/rich"><head>

    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title></title>
    
    <link href="webdsl.css" rel="stylesheet" type="text/css"></head><body>
    <div class="main">
    <div class="outersidebar">
    <div class="logo"><a id="_id2" href="http://127.0.0.1:8080/serg/home.seam"><img src="../img/serg-logo-color-smaller.png"></a> </div>
    
    <div class="sidebar"></div>
    </div>
    
    <div class="outerbody">
    <div class="menubar">
    <div class="menu">
      <ul>
        
      <li>People
<table>
<tbody id="_id6:tbody_element">
<tr><td><a id="_id6:0:_id8" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=1">Arie van Deursen</a></td></tr>
<tr><td><a id="_id6:1:_id8" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=2">Jos Warmer</a></td></tr>
<tr><td><a id="_id6:2:_id8" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=3">Eelco Visser</a></td></tr>
<tr><td><a id="_id6:3:_id8" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=4">Martin Bravenboer</a></td></tr></tbody></table>

    
      </li>
    
      </ul>
    
      <ul>
        
      <li>Projects
<table>
<tbody id="_id13:tbody_element">
<tr><td><a id="_id13:0:_id15" href="http://127.0.0.1:8080/serg/viewResearchProject.seam?researchProject=1">MoDSE</a></td></tr>
<tr><td><a id="_id13:1:_id15" href="http://127.0.0.1:8080/serg/viewResearchProject.seam?researchProject=2">TFA</a></td></tr></tbody></table>

    
      </li>
    
      </ul>
    
      <ul>
        
      <li>Manage 
      <ul>
        
    <div class="manageMenu">
      <li><a id="_id21" href="http://127.0.0.1:8080/serg/editResearchProject.seam?researchProject=1">Edit</a> 
      </li>
    </div>
    
      <li>New 
      <ul>
        
      <li><a id="_id27" href="http://127.0.0.1:8080/serg/createUser.seam">User</a> 
      </li>
    
      <li><a id="_id30" href="http://127.0.0.1:8080/serg/createPerson.seam">Person</a> 
      </li>
    
      <li><a id="_id33" href="http://127.0.0.1:8080/serg/createPublication.seam">Publication</a> 
      </li>
    
      <li><a id="_id36" href="http://127.0.0.1:8080/serg/createTechnicalReport.seam">Technical Report</a> 
      </li>
    
      <li><a id="_id39" href="http://127.0.0.1:8080/serg/createResearchProject.seam">Project</a> 
      </li>
    
      <li><a id="_id42" href="http://127.0.0.1:8080/serg/createBlog.seam">Blog</a> 
      </li>
    
      <li><a id="_id45" href="http://127.0.0.1:8080/serg/createBlogEntry.seam">Blog Entry</a> 
      </li>
    
      </ul>
    
      </li>
    
      </ul>
    
      </li>
    
      </ul>
    
      <ul>
        
      <li><a id="_id48" href="http://127.0.0.1:8080/serg/login.seam">Login</a> 
      </li>
    
      </ul>
    </div>
    </div>
    
    <div class="body">
      <div class="section1">
      <h1>MoDSE </h1>
    
      <div class="viewRowsResearchProject">
      </div><table>
    <tbody><tr> <td>Fullname </td>  <td>Model-Driven Software Evolution </td> </tr>
    
      <tr> <td>Acronym </td>  <td>MoDSE </td> </tr>
    
      <tr> <td>Description </td>  <td>The
promise of model-driven engineering (MDE) is that the development and
maintenance effort can be reduced by working at the model instead of
the code level. Models define what is variable in a system, and code
generators produce the functionality that is common in the application
domain. The problem with model-driven engineering is that it can lead
to a lock-in in the abstractions and generator technology adopted at
project initiation. Software systems need to evolve, and systems built
using model-driven approaches are no exception. What complicates
model-driven engineering is that it requires multiple dimensions of
evolution. In regular evolution, the modeling language is used to make
the changes. In meta-model evolution, changes are required to the
modeling notation. In platform evolution, the code generators and
application framework change to reflect new requirements on the target
platform. Finally, in abstraction evolution, new modeling languages are
added to the set of (modeling) languages to reflect increased
understanding of a technical or business domain. While MDE has been
optimized for regular evolution, presently little or no support exists
for metamodel, platform and abstraction evolution. It is this gap that
this project proposes to address. The first fundamental premise of this
proposal is that evolution should be a continuous process. Software
development is a continuous search for recurring patterns, which can be
captured using domain-specific modeling languages. After developing a
number of systems using a particular meta-model, new patterns may be
recognized that can be captured in a higher-level or richer meta-model.
The second premise is that reengineering of legacy systems to the
model-driven paradigm should be a special case of this continuous
evolution, and should be performed incrementally. The goal of this
project is to develop a systematic approach to model-driven software
evolution. This approach includes methods, techniques, and underlying
tool support. We will develop a prototype programming environment that
assists software engineers with the introduction, development, and
maintenance of models and domain-specific languages. </td> </tr>
    
      <tr> <td>Members </td>  <td>
<table>
<tbody id="_id67:tbody_element">
<tr><td><a id="_id67:0:_id69" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=3">Eelco Visser</a></td></tr>
<tr><td><a id="_id67:1:_id69" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=2">Jos Warmer</a></td></tr>
<tr><td><a id="_id67:2:_id69" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=1">Arie van Deursen</a></td></tr></tbody></table>

    </td> </tr>
    
      <tr> <td>Proposal </td>  <td><a id="_id75" href="http://127.0.0.1:8080/serg/viewPublication.seam?publication=1">Model-Driven Software Evolution: A Research Agenda</a> </td> </tr>
    
      <tr> <td>Publications </td>  <td>
<table>
<tbody id="_id81:tbody_element">
<tr><td><a id="_id81:0:_id83" href="http://127.0.0.1:8080/serg/viewPublication.seam?publication=2">Domain-Specific Language Engineering</a></td></tr>
<tr><td><a id="_id81:1:_id83" href="http://127.0.0.1:8080/serg/viewPublication.seam?publication=1">Model-Driven Software Evolution: A Research Agenda</a></td></tr></tbody></table>

    </td> </tr>
    
    </tbody></table>
    </div>
    </div>
    
    <div class="footer">generated with <a id="_id88" name="_id88" href="http://www.strategoxt.org/">Stratego/XT</a> </div>
    </div>
    </div>
    </body></html>