<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <servlet>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>HelloServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ShowUsers1</servlet-name>
    <servlet-class>webdsl.users.ShowUsers</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ShowUser1</servlet-name>
    <servlet-class>webdsl.users.ShowUser</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AddUser1</servlet-name>
    <servlet-class>webdsl.users.AddUser</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ChangeUser1</servlet-name>
    <servlet-class>webdsl.users.ChangeUser</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>EditUser1</servlet-name>
    <servlet-class>webdsl.users.EditUser</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>SaveUser1</servlet-name>
    <servlet-class>webdsl.users.SaveUser</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>RemoveUser1</servlet-name>
    <servlet-class>webdsl.users.RemoveUser</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Login1</servlet-name>
    <servlet-class>webdsl.users.Login</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Logout1</servlet-name>
    <servlet-class>webdsl.users.Logout</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ShowUsers1</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AddUser1</servlet-name>
    <url-pattern>/register-user</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ShowUser1</servlet-name>
    <url-pattern>/user/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ChangeUser1</servlet-name>
    <url-pattern>/update-user/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>EditUser1</servlet-name>
    <url-pattern>/edit-user/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SaveUser1</servlet-name>
    <url-pattern>/save-user</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RemoveUser1</servlet-name>
    <url-pattern>/remove-user/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Login1</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Logout1</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

</web-app>

