<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:a4j="https://ajax4jsf.dev.java.net/ajax" xmlns:t="http://myfaces.apache.org/tomahawk" xmlns:rich="http://richfaces.ajax4jsf.org/rich"><head>

    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>Publications by Eelco Visser</title>
    
    <link href="webdsl.css" rel="stylesheet" type="text/css"></head><body>
    <div class="main">
    <div class="outersidebar">
    <div class="logo"><a id="_id5" href="http://127.0.0.1:8080/serg/home.seam"><img src="../img/serg-logo-color-smaller.png"></a> </div>
    
    <div class="sidebar">
    <div class="personSidebar">
      <ul>
        
      <li><a id="_id8" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=3">Eelco Visser</a> 
      </li>
    
      <li><a id="_id12" href="http://127.0.0.1:8080/serg/personPublications.seam?person=3">Publications</a> 
      </li>
    
      <li><a id="_id16" href="http://127.0.0.1:8080/serg/viewBlog.seam?blog=1">Blog</a> 
      </li>
    
      <li>Projects 
    <div class="listProjectAcronyms">
      <ul>
      <li><a id="_id22:0:_id25" href="http://127.0.0.1:8080/serg/viewResearchProject.seam?researchProject=1">MoDSE</a> 
      </li>
      <li><a id="_id22:1:_id25" href="http://127.0.0.1:8080/serg/viewResearchProject.seam?researchProject=2">TFA</a> 
      </li>
      <li><a id="_id22:2:_id25" href="http://127.0.0.1:8080/serg/viewResearchProject.seam?researchProject=3">TraCE</a> 
      </li>
    
      </ul>
    </div>
    
      </li>
    
      </ul>
    </div>
    </div>
    </div>
    
    <div class="outerbody">
    <div class="menubar">
    <div class="menu">
      <ul>
        
      <li>People 
      <ul>
      <li><a id="_id32:0:_id35" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=1">Arie van Deursen</a> 
      </li>
      <li><a id="_id32:1:_id35" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=2">Jos Warmer</a> 
      </li>
      <li><a id="_id32:2:_id35" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=3">Eelco Visser</a> 
      </li>
      <li><a id="_id32:3:_id35" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=4">Martin Bravenboer</a> 
      </li>
      <li><a id="_id32:4:_id35" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=5">Joost Visser</a> 
      </li>
      <li><a id="_id32:5:_id35" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=6">Lennart Kats</a> 
      </li>
      <li><a id="_id32:6:_id35" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=7">Eelco Dolstra</a> 
      </li>
      <li><a id="_id32:7:_id35" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=8">Eric Bouwer</a> 
      </li>
      <li><a id="_id32:8:_id35" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=9">Mart</a> 
      </li>
      <li><a id="_id32:9:_id35" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=10">&lt;em&gt; foo &lt;/em&gt;</a> 
      </li>
      <li><a id="_id32:10:_id35" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=11">Gerardo Geest</a> 
      </li>
      <li><a id="_id32:11:_id35" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=12">Steffen Zschaler</a> 
      </li>
      <li><a id="_id32:12:_id35" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=13">Ali Mesbah</a> 
      </li>
    
      </ul>
    
      </li>
    
      </ul>
    
      <ul>
        
      <li>Projects 
      <ul>
      <li><a id="_id42:0:_id45" href="http://127.0.0.1:8080/serg/viewResearchProject.seam?researchProject=1">MoDSE</a> 
      </li>
      <li><a id="_id42:1:_id45" href="http://127.0.0.1:8080/serg/viewResearchProject.seam?researchProject=2">TFA</a> 
      </li>
      <li><a id="_id42:2:_id45" href="http://127.0.0.1:8080/serg/viewResearchProject.seam?researchProject=3">TraCE</a> 
      </li>
    
      </ul>
    
      </li>
    
      </ul>
    
      <ul>
        
      <li>Manage 
      <ul>
        
    <div class="manageMenu"></div>
    
    <div class="createMenu">
      <li>New 
      <ul>
        
      <li><a id="_id54" href="http://127.0.0.1:8080/serg/createTask.seam">Task</a> 
      </li>
    
      <li><a id="_id57" href="http://127.0.0.1:8080/serg/createBug.seam">Bug</a> 
      </li>
    
      <li><a id="_id60" href="http://127.0.0.1:8080/serg/createProject.seam">Project</a> 
      </li>
    
      <li><a id="_id63" href="http://127.0.0.1:8080/serg/createIssue.seam">Issue</a> 
      </li>
    
      <li><a id="_id66" href="http://127.0.0.1:8080/serg/createNews.seam">News</a> 
      </li>
    
      <li><a id="_id69" href="http://127.0.0.1:8080/serg/createResearchGroup.seam">ResearchGroup</a> 
      </li>
    
      <li><a id="_id72" href="http://127.0.0.1:8080/serg/createResearchProject.seam">ResearchProject</a> 
      </li>
    
      <li><a id="_id75" href="http://127.0.0.1:8080/serg/createTechnicalReport.seam">TechnicalReport</a> 
      </li>
    
      <li><a id="_id78" href="http://127.0.0.1:8080/serg/createPublication.seam">Publication</a> 
      </li>
    
      <li><a id="_id81" href="http://127.0.0.1:8080/serg/createPresentation.seam">Presentation</a> 
      </li>
    
      <li><a id="_id84" href="http://127.0.0.1:8080/serg/createColloquium.seam">Colloquium</a> 
      </li>
    
      <li><a id="_id87" href="http://127.0.0.1:8080/serg/createBlogComment.seam">BlogComment</a> 
      </li>
    
      <li><a id="_id90" href="http://127.0.0.1:8080/serg/createCategory.seam">Category</a> 
      </li>
    
      <li><a id="_id93" href="http://127.0.0.1:8080/serg/createBlogEntry.seam">BlogEntry</a> 
      </li>
    
      <li><a id="_id96" href="http://127.0.0.1:8080/serg/createBlog.seam">Blog</a> 
      </li>
    
      <li><a id="_id99" href="http://127.0.0.1:8080/serg/createPerson.seam">Person</a> 
      </li>
    
      <li><a id="_id102" href="http://127.0.0.1:8080/serg/createAddress.seam">Address</a> 
      </li>
    
      <li><a id="_id105" href="http://127.0.0.1:8080/serg/createUser.seam">User</a> 
      </li>
    
      </ul>
    
      </li>
    </div>
    
      </ul>
    
      </li>
    
      </ul>
    
      <ul>
        
      <li><a id="_id108" href="http://127.0.0.1:8080/serg/login.seam">Login</a> 
      </li>
    
      </ul>
    </div>
    </div>
    
    <div class="body">
      <h1>Publications by Eelco Visser </h1>
    
    <div class="publicationsBy">
      <ul>
      <li>
        
    <div class="showPublication"><a id="_id114:0:_id117:0:_id119" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=4">Martin Bravenboer</a>, <a id="_id114:0:_id117:1:_id119" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=3">Eelco Visser</a>, <a id="_id114:0:_id117:2:_id119" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=7">Eelco Dolstra</a>, <a id="_id114:0:_id124" href="http://127.0.0.1:8080/serg/viewPublication.seam?publication=4">Transformations for Abstractions</a>, 2009. </div>
    
      </li>
      <li>
        
    <div class="showPublication"><a id="_id114:1:_id117:0:_id119" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=3">Eelco Visser</a>, <a id="_id114:1:_id117:1:_id119" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=4">Martin Bravenboer</a>, <a id="_id114:1:_id124" href="http://127.0.0.1:8080/serg/viewPublication.seam?publication=5">DSL Interaction</a>, 2008. </div>
    
      </li>
      <li>
        
    <div class="showPublication"><a id="_id114:2:_id117:0:_id119" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=3">Eelco Visser</a>, <a id="_id114:2:_id117:1:_id119" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=11">Gerardo Geest</a>, <a id="_id114:2:_id124" href="http://127.0.0.1:8080/serg/viewPublication.seam?publication=2">Domain-Specific Language Engineering</a>, 2007. </div>
    
      </li>
      <li>
        
    <div class="showPublication"><a id="_id114:3:_id117:0:_id119" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=4">Martin Bravenboer</a>, <a id="_id114:3:_id117:1:_id119" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=3">Eelco Visser</a>, <a id="_id114:3:_id117:2:_id119" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=8">Eric Bouwer</a>, <a id="_id114:3:_id124" href="http://127.0.0.1:8080/serg/viewPublication.seam?publication=3">Grammar Engineering Support for Precedence Rule Recovery and Compatibility Checking</a>, 2007. </div>
    
      </li>
      <li>
        
    <div class="showPublication"><a id="_id114:4:_id117:0:_id119" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=2">Jos Warmer</a>, <a id="_id114:4:_id117:1:_id119" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=3">Eelco Visser</a>, <a id="_id114:4:_id117:2:_id119" href="http://127.0.0.1:8080/serg/viewPerson.seam?person=1">Arie van Deursen</a>, <a id="_id114:4:_id124" href="http://127.0.0.1:8080/serg/viewPublication.seam?publication=1">Model-Driven Software Evolution: A Research Agenda</a>, 2002. </div>
    
      </li>
    
      </ul>
    </div>
    </div>
    
    <div class="footer">generated with <a id="_id133" name="_id133" href="http://www.strategoxt.org/">Stratego/XT</a> </div>
    </div>
    </div>
    </body></html>