
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=iso-8859-1"></meta>
<title>HTML Code for CSS DropDown Menu Tutorial</title>
<meta name="description" content="Start page For CSS DropDown Menu Tutorial - Example HTML"></meta>

   <link rel="shortcut icon" href="http://www.tanfa.co.uk/favicon.ico" />
    
    <link href="webdsl.css" rel="stylesheet" type="text/css" />
    
</head>
<body id="www-tanfa-co-uk">

    <div class="main">
    
    <div class="outersidebar">
      <div class="logo">
        <a href="home"><img src="../img/serg-logo-color-smaller.png"/></a>
      </div>
    
    <div class="sidebar">
          <ul>
       <li> <a href="manage">Manage</a>
       <ul>
         <li> <a href="edit">Edit</a></li>
         <li> <a href="edit">Edit</a></li>
         <li> <a href="edit">Edit</a></li>
         <li><a href="create">New</a>
         <ul>
           <li><a id="_id6" href="/serg/createUser.seam">User</a></li>
           <li><a id="_id8" href="/serg/createPerson.seam">Person</a></li>
          <li><a id="_id10" href="/serg/createPublication.seam">Publication</a></li>
         </ul>
         </li>
         <li> <a href="edit">Edit</a></li>
       </ul>
      </ul>
      
      <ul>
       <li> Foo
       <ul>
         <li><a href="create">New</a>
         <ul>
           <li><a id="_id6" href="/serg/createUser.seam">User</a></li>
           <li><a id="_id8" href="/serg/createPerson.seam">Person</a></li>
          <li><a id="_id10" href="/serg/createPublication.seam">Publication</a></li>
         </ul>
         </li>
         <li> <a href="edit">Edit</a></li>
      </ul>
      </ul>
    
    </div>
    </div>
    
    <div class="outerbody">
    
        <div class="menubar">
      <div class="menu">
    
      <ul>
       <li> <a href="manage">Manage</a>
       <ul>
         <li> <a href="edit">Edit</a></li>
         <li> <a href="edit">Edit</a></li>
         <li><a href="create">Create new object</a>
         <ul>
           <li><a id="_id6" href="/serg/createUser.seam">User</a></li>
           <li><a id="_id8" href="/serg/createPerson.seam">Person</a></li>
          <li><a id="_id10" href="/serg/createPublication.seam">Publication</a></li>
         </ul>
         </li>
         <li> <a href="edit">Edit</a></li>
         <li> <a href="edit">Edit</a></li>
       </ul>
      </ul>
      
      <ul>
       <li> Foo
       <ul>
         <li><a href="create">New</a>
         <ul>
           <li><a id="_id6" href="/serg/createUser.seam">User</a></li>
           <li><a id="_id8" href="/serg/createPerson.seam">Person</a></li>
          <li><a id="_id10" href="/serg/createPublication.seam">Publication</a></li>
         </ul>
         </li>
         <li> <a href="edit">Edit</a></li>
         <li> <a href="edit">Edit</a></li>
         <li> <a href="edit">Edit</a></li>
      </ul>
      </ul>
      
      <ul>
        
      <li>People
        <table>
        <tbody id="_id19:tbody_element">
        <tr><td><a id="_id19:0:_id21" href="/serg/viewPerson.seam?person=1">Arie van Deursen</a></td></tr>
        <tr><td><a id="_id19:1:_id21" href="/serg/viewPerson.seam?person=2">Jos Warmer</a></td></tr>
        <tr><td><a id="_id19:2:_id21" href="/serg/viewPerson.seam?person=3">Eelco Visser</a></td></tr></tbody></table>
      </li>
    
      </ul>
    </div>
    </div>
    
    <div class="body">
      <h1> User Foo </h1>
      
      <h2>Edit User</h2>
      <table>
        <tr><td>Name</td><td><input /></td></tr>
        <tr><td>Email</td><td><input /></td></tr>
      </table>
      
      <h2> Mission</h2>
      Software engineering is concerned with methods and techniques for building high quality software systems. This not only includes software construction, but also requirements analysis, design, system integration, testing, deployment, and making changes to software systems after their first release.The mission of the Delft Software Engineering Research Group i
    </div>
    
    <div class="footer">
      footer
      <br />
      more footer 
      <br />
      more more
    </div>
    </div>
    </div>
</body>
</html>