<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <servlet>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>HelloServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ShowUsers1</servlet-name>
    <servlet-class>ShowUsers</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AddUser1</servlet-name>
    <servlet-class>AddUser</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ShowUsers1</servlet-name>
    <url-pattern>/show-users</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AddUser1</servlet-name>
    <url-pattern>/add-user</url-pattern>
  </servlet-mapping>

</web-app>

