
body {
left:0px;
right:0px;
text-align: left;
}
fieldset {
display:inline;
}

input,input[type="text"],input[type="file"],input[type="password"]{
width: 175px; /* 225px; */
}
textarea{
width: 179px; 
}

input[type="button"],input[type="submit"]{
width : 60px;
}



select{
width: 181px; /* 231px; */
}


a:link    {color: #0000FF}     /* unvisited link */
a:visited {color: #0000FF}  /* visited link */
a:hover   {
color: #0000FF;
}   /* mouse over link */
a:active {
color: #0000FF;
}   /* selected link */