body {
  left:0px;
  right:0px;
  text-align: left;
}

select{
  width: 179px;
}

a:link { /* unvisited link */
  color: #0000FF
}
     
a:visited { /* visited link */
  color: #0000FF
}
  
a:hover { /* mouse over link */
  color: #0000FF;
}
   
a:active { /* (tab) selected link */
  color: #0000FF;
}   

div.errorblock {
  width: 310px;
  clear:left; 
  float:left; 
  border: 1px solid #FF0000; 
  margin: 6px 0 5px -5px;
  padding:4px;
}

div.errorline {
  width:100%; 
  clear:left; 
  float:left; 
  color: #FF0000; 
  margin-top: 5px;
}

fieldset {
  width:315px;
}

label {
  height:13px;
  width:125px;
  display:block;
  clear:left;
  float:left;
  margin: 3px;
}

div.successblock{
  display: block; 
  border: 1px solid #BB8800; 
  padding: 4px; 
  color: #BB8800;
  margin: 5px 0 15px 2px;
  width: 328px;
}

input[type="text"],input[type="file"],input[type="password"]{
  width: 175px; /* 225px; */
  display: block;
  height: 14px;
  margin: 1px;
}

textarea{
  display:block;
  width: 179px; 
}

input[type="button"],input[type="submit"]{
  width : 60px;
  float:right;
  margin:6px;
}
div.outputproperty{
  width: 175px;
  display: block;
  height: 14px;
  margin: 1px;
  float: left;
}
ul {
  display:block;
  float:left;
}

input.inputInt{
  width: 175px;
  display: block;
  height: 14px;
  margin: 1px;
}