body {
  font-size  : 12pt;
  font-family: "Verdana";
}

table {
    border-spacing: 0px;
}

img {
    border-width: 0px;
    padding: 0px;
    margin-top: -2px;
    cursor: handpoint;
}

td {
  vertical-align : top;
  padding: 4px;
}
    
h1 {

}

#folderdetails {
    height: 60px;
}

.headerrow {
}

.graybg {
  background-color : #CCCCCC;
  -moz-border-radius: 4px;
  height: 40px;
}

#folderlist {

}

#notelist {

}

.footerrow {
    background-color : #CCCCCC;
    -moz-border-radius: 4px;    
    font-size: 8pt;
}

.footerrow > td {
    border-top:4px solid white;
}

.graybg > td {
    border-bottom:4px solid white;
    vertical-align:middle;    
}

.graybg > form {
  margin-top: -10px;
}

a, a:visited, a:active {
    color : navy;
}

a: hover {
    color : blue;
}

fieldset { 
  border : 1px solid #555555;
  padding : 1em;
}

legend { 
  padding: 0.2em 0.5em;
  color: navy;
  font-weight: bold;
}

.mytodo {
    margin-left:auto;
    margin-right:auto;
    width:600px;
}

.navigate > img {
    vertical-align:middle;
}

hr {
    border-width: 0px;
    border-top: 1px solid navy;
}

.middlerow > td {
  border-left:1px dotted silver;
  border-right:1px dotted silver;
}


