<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="app,mod"
            description="Professional Home Pages"
            language="WebDSL">
      </language>
   </extension>
   <extension
         id="WebDSL.parserWrapper"
         name="WebDSL Parser Wrapper"
         point="org.eclipse.imp.runtime.parser">
      <parserWrapper
            class="webdsl.safari.parser.WebDSLParseController"
            language="WebDSL">
      </parserWrapper>
   </extension>

   <extension
         point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer
            class="webdsl.safari.tokenColorer.WebDSLTokenColorer"
            language="WebDSL">
      </tokenColorer>
   </extension>

   <!-- UNDONE: editor services
   <extension
         point="org.eclipse.imp.runtime.outliner">
      <outliner
            class="webdsl.safari.outliner.WebDSLOutliner"
            language="WebDSL">
      </outliner>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.foldingUpdater">
      <foldingUpdater
            class="webdsl.safari.foldingUpdater.WebDSLFoldingUpdater"
            language="WebDSL">
      </foldingUpdater>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.referenceResolvers">
      <referenceResolver
            class="webdsl.safari.referenceResolvers.WebDSLReferenceResolver"
            language="WebDSL">
      </referenceResolver>
   </extension>
   
   -->

</plugin>
