<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="esv" description="EditorService" language="EditorService" derivedFrom="Root"></language>
       </extension>
       <extension id="org.strategoxt.imp.editors.editorservice.parser" name="EditorService Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="org.strategoxt.imp.editors.editorservice.EditorServiceParseController" language="EditorService">
          </parser>
       </extension>    
    </plugin>