<?xml version="1.0"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
  <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
  <booleanAttribute key="includeOptional" value="true"/>
  <booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
  <stringAttribute key="checked" value="[NONE]"/>
  <booleanAttribute key="clearws" value="false"/>
  <booleanAttribute key="askclear" value="true"/>
  <stringAttribute key="configLocation" value=""/>
  <booleanAttribute key="usefeatures" value="false"/>
  <stringAttribute key="bootstrap" value=""/>
  <booleanAttribute key="clearConfig" value="false"/>
  <booleanAttribute key="tracing" value="false"/>
  <stringAttribute key="product" value="org.eclipse.sdk.ide"/>
  <stringAttribute key="pde.version" value="3.2a"/>
  <booleanAttribute key="default" value="true"/>
  <stringAttribute key="location" value="${workspace_loc}/../runtime-EclipseApplication"/>
  <booleanAttribute key="useDefaultConfigArea" value="true"/>
  <booleanAttribute key="automaticValidate" value="false"/>
  <booleanAttribute key="useDefaultConfig" value="true"/>
  <booleanAttribute key="automaticAdd" value="true"/>
  <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea:org.strategoxt.imp.runtime... -ea:org.spoofax... -Xss10m"/>
  <booleanAttribute key="useProduct" value="true"/>
</launchConfiguration>